ul.nav.nav-pills.nav-stacked role="tablist"
  li.active role="presentation" = link_to '回到后台', root_path
  - @categories.each do |c|
    li role="presentation" = link_to "#{c.name}",website_website_path(c.id)