// Place all the styles related to the website controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div#article{width:800px; height:1359px;float:left;background-color:#ffffff;}
img#top{width:800px;height:500px;}
#index{float: left;padding-top: 20px;padding-left: 10px;}
img#logo{float: left;padding-left: 180px;}
p{text-align:center;}
p#title{font-weight:normal;}
#article_title{font-size:30px;}